body {
    background-color: #fefaef !important;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100dvh - 16px);
}

.dflexrow {
    display: flex;
    flex-direction: row;
}

.dflexcolumn {
    display: flex;
    flex-direction: column;
}

.progress {
    background-color: lightgray !important;
    border-radius: 0 !important;
}

.progress-bar {
    background-color: rgba(39, 53, 92, 1) !important;
    border-radius: 0 8px 8px 0;
    text-align: right;
    padding-right: 10px;
    font-size: 10px;
}

.quiz-card {
    width: 800px;
    border-radius: 12px !important;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
}

.leftSection {
    align-items: center;
    background-color: rgba(39, 53, 92, 1);
    padding: 16px;
    width: 200px;
    border-radius: 12px 0 0 12px;
    z-index: 2;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.15);
}

.quizcontent {
    color: white;
    width: inherit;
    margin-top: 40px;
    font-size: 24px;
    
}

.quizcontent ul {
    padding-left: 24px;
    list-style-type: "|   ";
}

.quizcontent li {
    margin-bottom: 16px;
}

.rightSection {
    padding: 16px;
    width: 600px;
    background-color: rgb(247, 247, 247);
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-top: 8px;
}

.circlebutton {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 24px;
    border: 0;
    background-color: #bac5f3 !important;
}

.circlebutton:disabled {
    background-color: #dadff5 !important;
}

.buttonbg {
    background-color: #bac5f3 !important;
}

.buttonbg:hover, .circlebutton:hover {
    background-color: #abbaf7 !important;
}

.card-body {
    width: 100%;
}

.answerLetter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: lightgray;
    font-weight: 700;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
}
.quiz-answer-card {
    width: 100%;
    align-items: center;
    padding-left: 8px;
    border: 0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
}
.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(39, 53, 92, 0.15);
}

.bg-success, .bg-danger {
    color: white;
}

.correctanswer {
    background-color: rgb(183, 247, 153);
}

.correctanswer-letter {
    background-color: rgb(79, 189, 27);
    color: white;
}

.wronganswer {
    background-color: rgb(255, 163, 164);
}

.wronganswer-letter {
    background-color: rgb(249, 23, 23);
    color: white;
}

.finalScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    width: inherit;
}

.finalScreen button {
    margin-top: 24px;
}
.imgMirrorY {
    -moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: "FlipH";
	filter: FlipH;
}

.trophy {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    width: 320px;
}

.trophy img {
    width: 160px;
    height: 320px;
}