body {
    background-color: #fefaef !important;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.dflexrow {
    display: flex;
    flex-direction: row;
}

.dflexcolumn {
    display: flex;
    flex-direction: column;
}

.quiz-card {
    width: 600px;
}

.leftSection {
    align-items: center;
    background-color: rgba(39, 53, 92, 1);
    padding: 16px;
    width: 160px;
    border-radius: 4px 0 0 4px;
}

.rightSection {
    padding: 16px;
    width: calc(440px - 16px);
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-top: 8px;
}

.circlebutton {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 24px;
    border: 0;
    background-color: #bac5f3 !important;
}

.circlebutton:disabled {
    background-color: #dadff5 !important;
}

.card-body {
    width: 100%;
}

.answerLetter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: lightgray;
    font-weight: 700;
}
.quiz-answer-card {
    width: 100%;
    align-items: center;
    padding-left: 8px;
    border: 0;
}
.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(39, 53, 92, 0.15);
}

.bg-success, .bg-danger {
    color: white;
}

.finalScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
}

.imgMirrorY {
    -moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: "FlipH";
	filter: FlipH;
}

.trophy {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}